# SCS2013 Exercise 04 (2022 Fall)

**This exercise notebook will go through the key data structures in Python:**

Lists, Tuples, Dictionaries, Sets are 4 **collection types** in Python

* Lists (리스트)
  - A collection which is ordered and changeable. Allows duplicate items.
* Tuples (튜플)
  - A collection which is ordered and unchangeable. Allows duplicate items.
* Dictionaries (딕셔너리)
  - A collection which is ordered and changeable. No duplicate items.
* Sets (집합)
  - A collection which is unordered, unchangeable, and unindexed. No duplicate items.

## Lists (리스트)

List is a collection which is **ordered** and **changeable**. It **allows duplicate** items
  - it is a data sequence that can hold multiple, different types of data 

  - represented inside **brackets "[]"**
  - elements are separated with **commas ","**
  - **Syntax**
  ```
  list_name = [element1, element2, ...]
  ```
  - mutability = changeable: the values inside a list are changeable
  - it has an index order that starts with `0` - we can access each element inside a list with its index number

In [ ]:
# Create a list ['Hello World', 3, 2.5, ['Python', 'Programming'], 'SCS2013']

lst = ['Hello World', 3, 2.5, ['Python', 'Programming'], 'SCS2013']
lst

In [ ]:
# List indexing, slicing and striding
# check the length of the list
print(len(lst))

# check the index and slicing 
print(lst[0])
print(lst[2])
print(lst[1:3])

In [ ]:
print(lst[-2])
# check the type of lst[-2]
print(type(lst[-2]))

# access the element of the nested list
print(lst[-2][0])
print(lst[-2][1])

In [ ]:
# Mutability 
print(lst)

# change index 2 value
lst[2] = 1.4
print(lst)

**List Methods**

Here are some list methods:
- `.append(a)`: adding element `a` to a list
- `.insert(idx, a)`: inserting element `a` to a particular position `idx` of the list
- `.index(a)`: show the index of an element `a`
- `.clear()`: clear all elements of the list
- `.remove(a)`: removing an element `a` of the list
- `.sort()`: sorting the elements of the list
- `.reverse()`: reversing the order of elements
- `.count(a)`: counting how many elements `a` there are in the list
- `sum()`: sum all the elements in the list
- `min()`: show the element with minimum value in the list
- `max()`: show the element with maximum value in the list
- `del list[idx]`: delete an element at a particular position `idx` of the list

**note**: `.append()`, `.insert()`, `.clear()`, `.remove()`, `.reverse()`: list의 값을 바로 변경함 (mutability)

In [ ]:
# .append()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.append("Append")
print(lst_1)

# .insert()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.insert(3, "Insert")
print(lst_1)

['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 2.7, True, 'True', '31', 'Append']
['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 'Insert', 2.7, True, 'True', '31']

In [ ]:
# .index()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
print(lst_1.index(31))

['Hello', 'World', 31, 2.7, True, 'True', '31']
2

In [ ]:
# .clear()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.clear()
print(lst_1)

# .remove()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.remove('World')
print(lst_1)

# del 
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
del lst_1[1]
print(lst_1)

['Hello', 'World', 31, 2.7, True, 'True', '31']
[]
['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 31, 2.7, True, 'True', '31']

In [ ]:
# .sort()
lst_1 = [1, 2, 34, 6]
print(lst_1)
lst_1.sort()
print(lst_1)

# .reverse()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
lst_1.reverse()
print(lst_1)

# .count()
lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst_1)
print(lst_1.count('31'))

[1, 2, 34, 6]
[1, 2, 6, 34]
['Hello', 'World', 31, 2.7, True, 'True', '31']
['31', 'True', True, 2.7, 31, 'World', 'Hello']
['Hello', 'World', 31, 2.7, True, 'True', '31']
1

In [ ]:
# sum(), min(), max()
# lst_1 = ['Hello', 'World', 31, 2.7, True, 'True', '31']
# print(lst_1)
# sum(lst_1)

lst_1 = [3, 75, 6, 23, 3, 13]
print(lst_1)

print(sum(lst_1))
print(min(lst_1))
print(max(lst_1))

[3, 75, 6, 23, 3, 13]
123
3
75

## Tuples (튜플)

Tuple is a collection which is **ordered** and **unchangeable**. It **allows duplicate** items
  - it is a data sequence that can hold multiple, different types of data 

  - represented inside **parenthesis "()"**
  - elements are separated with **commas ","**
  - **Syntax**
  ```
  tuple_name = (element1, element2, ...)
  ```

  - immutability = unchangeable: the values inside a tuple cannot be changed
  - it has an index order that starts with `0` - we can access each element inside a tuple with its index number

In [ ]:
# create a tuple
tup = ('Hello World', 3, 2.5, ['Python', 'Programming'], ('SCS', 2013), 3) # duplicates
tup

In [ ]:
# tuple indexing, slicing and striding
tup = ('Hello World', 3, 2.5, ['Python', 'Programming'], ('SCS', 2013))
print(len(tup))

print(tup[0])
print(tup[3:])

print(tup[-2])
print(tup[-1])

print(tup[-2][0])
print(tup[-1][0])

In [ ]:
# Immutability 
print(tup)

# tup[2] = 1.4
# print(tup)

# del tup[1]
# print(tup)

**Tuple Methods**

Here are some tuple methods:
- `.index()`: show the index of an element
- `.count()`: counting how many elements there are in the tuple
- `sum()`: sum all the elements in the tuple
- `min()`: show the element with minimum value in the tuple
- `max()`: show the element with maximum value in the tuple

**note**: 'tuple' object has no attribute `.append(), .insert(), .clear(), .remove(), .reverse()` (because of immutability)

In [ ]:
## formating도 튜플 사용한거임

tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')

tup_1.reverse()
tup_1

In [ ]:
# .index()
tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')
print(tup_1)

tup_1.index(31)
#tup_1.index(3.2)

# .count()
tup_1 = ('Hello', 'World', 31, 2.7, True, 'True', '31')
print(tup_1)

tup_1.count('True')

In [ ]:
# sum(), min(), max()
tup_1 = (3, 75, 6, 23, 3, 13)
print(tup_1)

print(sum(tup_1))
print(min(tup_1))
print(max(tup_1))

## Dictionaries (딕셔너리)

Dictionary is a collection which is **ordered** (but ordering is not significant!!) and **changeable**. It has **no duplicate** items (**"key-value" pairs**).
  - it is a data sequence that can hold multiple, different types of data as value

  - represented inside **curly brackets "{}"**
  - key-value pairs are separated with **commas ","**
  - key and value is spearated by a **colon ":"**
  - **Syntax**
  ```
  dictionary_name = {key1:value1, key2:value2, ...}
  ```
  - can access each value with its corresponding key - it has no index number 
  ```
  dict[key]
  dict.get(key)
  ```

  - immutability: the *key* inside a dictionary cannot be changed and also should be unique    
  - mutability: the *value* inside a dictionary is changeable

In [ ]:
# make dictionary {'name':'Kim', 'birth':['March',9], 'age':27}

dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print(dct)

dct = {'name':'Kim', 'birth':['March',9], 'age':27, 'name': 'James'} # what if there are duplicated keys?
print(dct)                                                           # key 값은 중복되면 사라진다

dct = {'name':'Kim', 'birth':['March',9], 'age':27, 'nickname': 'Kim'}    # value는 중복가능. 
print(dct)

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{'name': 'James', 'birth': ['March', 9], 'age': 27}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'nickname': 'Kim'}

In [ ]:
# access values using their keys or .get()

print(dct['name'])
print(dct.get('name'))

print(dct['age'])
print(dct['birth'])

print(dct['birth'][0])
print(dct['birth'][1])

Kim
Kim
27
['March', 9]
March
9

In [ ]:
# Add/Remove a key-value pair

dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print(dct)

# Add a pair ('year', 1995)
dct['year'] = 1995
print(dct)

# Delete a pair ('age', 27)
del dct['age']
print(dct)

# Change a value of a specific key-value pair 
dct['name'] = 'James'
print(dct)

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27, 'year': 1995}
{'name': 'Kim', 'birth': ['March', 9], 'year': 1995}
{'name': 'James', 'birth': ['March', 9], 'year': 1995}

**Dicionary Methods**

Here are some dictionary methods:
- `.keys()`: show the keys in a dictionary
- `.values()`: show the values in a dictionary
- `.items()`: create a (key, value) tuple 

- `.clear()`: clear the entire dictionary
- `.copy()`: copy a dictionary
- `.update()`: insert the specific items (key-value, or dictionary) to the dictionary

In [ ]:
# Example: keys cannot be changed, but values can be changed
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
print(dct)

print(dct['age'])

dct['age'] = 100
print(dct)

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
27
{'name': 'Kim', 'birth': ['March', 9], 'age': 100}

In [ ]:
# Example: check a list of dictionary's keys and dictionary's values, and key-value pairs

# .keys()
print(dct.keys())
print(type(dct.keys()))

dct_key_list = list(dct.keys())
print(dct_key_list)

dict_keys(['name', 'birth', 'age'])
<class 'dict_keys'>
['name', 'birth', 'age']

In [ ]:
# .values()
print(dct.values())
print(type(dct.values()))

# .items()
print(dct.items())
print(type(dct.items()))

dict_values(['Kim', ['March', 9], 100])
<class 'dict_values'>
dict_items([('name', 'Kim'), ('birth', ['March', 9]), ('age', 100)])
<class 'dict_items'>

In [ ]:
# in, not in
print(dct)
print('name' in dct.keys())
print('name' in dct)
print('Kim' in dct)   # key 중에서만 검색하므로 False
print('Kim' in dct.values())
print('Name' in dct.keys())

{'name': 'Kim', 'birth': ['March', 9], 'age': 100}
True
True
False
True
False

In [ ]:
# .copy()
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
c_dct = dct.copy()
print(c_dct)

# .clear()
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
dct.clear()
print(dct)
print(c_dct)

# update()
dct = {'name':'Kim', 'birth':['March',9], 'age':27}
dct_2 = {'name':'hey', 'year': 1995, 'Course': 'SCS2013'}

dct.update(dct_2)         # 있으면 변경 없으면 추가
print(dct)

{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{}
{'name': 'Kim', 'birth': ['March', 9], 'age': 27}
{'name': 'hey', 'birth': ['March', 9], 'age': 27, 'year': 1995, 'Course': 'SCS2013'}

## Sets (집합)

Set is a collection which is **unordered**, **unchangeable**, and **unindexed**. It has **no duplicate** items
  - represented using **curly brackets "{}"**
  - elements are separated with **commas ","**
  - **Syntax**
  ```
  set_name = {element1, element2, ... }
  ```

  - immutability = unchangeable: the values inside a set cannot be changed, but we can add/remove items inside a set
  - it does not have an index order - we can use `in` or `not in` to check an element is included in a set or not

In [ ]:
# create a set
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'} # duplicate => 오류는 안나고 알아서 제외함
print(set_1)

# create an empty set: set()  
set_2 = {}   # 빈 dictionary로 인식
print(set_2)
print(type(set_2))

set_2 = set() # 빈 set
print(set_2)
print(type(set_2))

{'C', 'A', 2, 3, 'B'}
{}
<class 'dict'>
set()
<class 'set'>

In [ ]:
# accesing items in a set
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'} # duplicate
print(3 in set_1)
print('a' in set_1)
print('A' in set_1)

True
False
True

In [ ]:
# Add/Remove items
set_1 = {'A', 2, 'B', 'C', 2, 3, 'C'}
print(set_1)

set_1.add(6)
print(set_1)

set_1.update(['a','bb','ccc'])
print(set_1)

set_1.remove('bb')
print(set_1)

{'C', 'A', 2, 3, 'B'}
{'C', 'A', 2, 3, 6, 'B'}
{'C', 'A', 2, 3, 6, 'B', 'bb', 'ccc', 'a'}
{'C', 'A', 2, 3, 6, 'B', 'ccc', 'a'}

**Set Methods**

Here are some set methods:
- `A.union(B)` or `A | B`: 합집합
- `A.intersection(B)` or `A & B`: 교집합
- `A.difference(B)` or `A - B`: 차집합
- `A.issuperset(B)` or `A >= B`: 포함관계

In [ ]:
# set methods
set_a = {1,2,3,5,7,8}
set_b = {1,2,4,6,7}
set_c = {1,2,3,5}

print(set_a.union(set_b))
print(set_a.intersection(set_b))
print(set_a - set_b)
print(set_a.issuperset(set_c))
print(set_a >= set_c)

## Exercises

### E-1
Given the list `lst`, 
```
lst = ['Hello', 'World', 31, 2.7, True, 'True', '31']
```

Use some list methods to make the `lst` being:
```
['Hello', 'World', 31, 2.7, ('List', 'Python', 2022), True, '31', 20220401]
```

In [ ]:
lst = ['Hello', 'World', 31, 2.7, True, 'True', '31']
print(lst)

# your code here

lst[4]=('List','Python',2022)    #이렇게 하면 True가 사라짐. '추가'가 아니라 '변경'
# 정답은 lst.insert(4,('List','Python',2022))   # lst.remove('True') 

lst.append(20220401)


print(lst)

['Hello', 'World', 31, 2.7, True, 'True', '31']
['Hello', 'World', 31, 2.7, ('List', 'Python', 2022), 'True', '31', 20220401]

### E-2

Given the list `lst`, 
```
lst = [35, 7, 47, -7, 101, 2, 7, -13]
```
i) compute the *average value* of the elements inside the list (using some methods) 

ii) sorting the list in *descending order* and 

iii) insert the average value as the *first* element of the list.

Result:
```
[22.375, 101, 47, 35, 7, 7, 2, -7, -13]
```

In [ ]:
lst = [35, 7, 47, -7, 101, 2, 7, -13]

# your code here
# 1) compute the average value
ave = sum(lst)/len(lst)
print(ave)

# 2) sorting in descending order
lst.sort()
lst.reverse()


# 3) insert the average value as the first element
lst.insert(0,ave)


print(lst)

22.375
[22.375, 101, 47, 35, 7, 7, 2, -7, -13]

### E-3

What is the ratio of the minimum and maximum values in the tuple `tup`? 
```
tup = (42, 33, 1002, 84, 10, 492)
```
For example, if minimum value is 2 and maximum value is 5, then the ratio is `2/5 = 0.4`.

In [ ]:
tup = (42, 33, 1002, 84, 10, 492)

# your code here
ratio = min(tup)/max(tup)
print(ratio)

0.00998003992015968

### E-4

Given the dictionary `dct`: 
```
dct = {'name':'Peter', 'birth':[1995, 'April', 10], 'age':38, 'city':'Jeju'}
```
i) Access the value that indicates when the `'Peter'` was born (month) 

ii) Change `'Peter'`'s born city from `'Jeju'` to `'Seoul'` 

iii) Add a new key-value pair: key `'education'` and value `['Dongguk', 'SCS2013']`

iv) Make the name `'Peter'` to be upper-case

Result:
```
dct = {'name': 'PETER', 'birth': [1995, 'April', 10], 'age': 38, 'city': 'Seoul', 'education': ['Dongguk', 'SCS2013']}
```

In [ ]:
dct = {'name':'Peter', 'birth':[1995, 'April', 10], 'age':38, 'city':'Jeju'}

# 1) born 
print(dct['birth'][1])


# 2) change Peter's born city to 'Seoul'
dct['birth'] = 'Seoul'


# 3) add new key-value
dct.update({'education':['Dongguk','SCS2013']})
# dct['education'] = ['Dongguk','SCS2013'] 이렇게 해도 됨. key값이 없기 때문에 새로 생성해준다


# 4) make name to be upper-case
dct['name'] = dct['name'].upper()


print(dct)

April
{'name': 'PETER', 'birth': 'Seoul', 'age': 38, 'city': 'Jeju', 'education': ['Dongguk', 'SCS2013']}

### E-5

Given two sets `setA` and `setB`: 
```
setA = {"Apple", 34, "Banana", True}
setB = {"Banana", "Melon", False, -1.2, 34}
```
i) compute the union and intersection of two sets 

ii) check the superset relationship between union set and intersection set

iii) compute a set that contains the items that only exist in the union set, and not in the intersection set

In [ ]:
setA = {"Apple", 34, "Banana", True}
setB = {"Banana", "Melon", False, -1.2, 34}
print('setA:', setA)
print('setB:', setB)

# your code here
# 1) union and intersection
setU = setA.union(setB)    # setU = setA | setB
print(setU)
setI = setA.intersection(setB) #setI = setA & setB
print(setI)

# 2) is union superset of intersection?
print(setU.issuperset(setI))   #print(setU>=setI)


# 3) what is a set that contains the difference between union and intersection?
print(setU.difference(setI))   #print(setU-setI)

setA: {True, 'Apple', 34, 'Banana'}
setB: {False, 34, 'Banana', 'Melon', -1.2}
{False, True, 34, 'Apple', 'Banana', 'Melon', -1.2}
{34, 'Banana'}
True
{False, True, 'Apple', 'Melon', -1.2}